{% extends 'base.html' %}

{% block content %}
<div class="row row-cols1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card">
            <div class="embed-responsive embed-responsive-16by9">
               <img src="{{url_for('static', filename='images/SPD3303X.jpg') }}" class="card-img-top embed-responsive-item">
            </div>
            <div class="card-block">
              <h4 class="card-title">Power Supply</h4>
              <p class="card-text">Open the power supply controller for the white light source and AOM</p>
            </div>
            <div class="card-footer">
                <a href="/power_supply" class="btn btn-primary">Open</a>
            </div>
          </div>
    </div>

    <div class="col">
    <div class="card">
        <div class="embed-responsive embed-responsive-16by9">
           <img src="{{url_for('static', filename='images/laser_quantum.jpg') }}" class="card-img-top embed-responsive-item">
        </div>
        <div class="card-block">
          <h4 class="card-title">Laser Quantum Controller</h4>
          <p class="card-text">Open the control software for the GEM laser. Sopftware opens externally.</p>
        </div>
        <div class="card-footer">
            <a href="/laser_controller" class="btn btn-primary">Open</a>
        </div>
      </div>
      </div>

    <div class="col">
        <div class="embed-responsive embed-responsive-16by9">
            <img src="{{url_for('static', filename='images/toptica.jpg') }}" class="card-img-top embed-responsive-item">
            <div class="card-body embed-responsive-item">
                <h5 class="card-title">Toptica Laser Controller</h5>
                <p class="card-text">Open the Toptica DLC 100 controller</p>
            </div>
            <div class="card-footer">
                <a href="/toptica_controller" class="btn btn-primary">Open</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="embed-responsive embed-responsive-16by9">
            <img src="{{url_for('static', filename='images/montana_s50.png') }}" class="card-img-top embed-responsive-item">
            <div class="card-body embed-responsive-item">
                <h5 class="card-title">Montana VNC Viewer</h5>
                <p class="card-text">Open the VNC remote machine for the Montana</p>
            </div>
            <div class="card-footer">
                <a href="/montana_vnc" class="btn btn-primary">Open</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="embed-responsive embed-responsive-16by9">
            <img src="{{url_for('static', filename='images/isomet_aom.jpg') }}" class="card-img-top embed-responsive-item">
            <div class="card-body embed-responsive-item">
                <h5 class="card-title">AOM Enable</h5>
                <p class="card-text">Open the labview program for turning on the AOM </p>
            </div>
            <div class="card-footer">
                <a href="/aom_enable" class="btn btn-primary">Open</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="embed-responsive embed-responsive-16by9">
            <img src="{{url_for('static', filename='images/pl_nv_array.jpg') }}" class="card-img-top embed-responsive-item">
            <div class="card-body">
                <h5 class="card-title">Photoluminescence Imaging</h5>
                <p class="card-text">Open the labview program for PL scans</p>
            </div>
            <div class="card-footer">
                <a href="/pl_scan_labview" class="btn btn-primary">Open</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="embed-responsive embed-responsive-16by9">
            <img src="{{url_for('static', filename='images/ple.jpg') }}" class="card-img-top embed-responsive-item">
            <div class="card-body">
                <h5 class="card-title">Photoluminescence Excitation</h5>
                <p class="card-text">Open the labview program for PLE</p>
            </div>
            <div class="card-footer">
                <a href="/ple_labview" class="btn btn-primary">Open</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="embed-responsive embed-responsive-16by9">
            <img src="{{url_for('static', filename='images/wavemeter.png') }}" class="card-img-top embed-responsive-item">
            <div class="card-body">
                <h5 class="card-title">Wavemeter</h5>
                <p class="card-text">Open the wavemeter software (takes time to load)</p>
            </div>
            <div class="card-footer">
                <a href="/wavemeter" class="btn btn-primary">Open</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="embed-responsive embed-responsive-16by9">
            <img src="{{url_for('static', filename='images/camera.jpg') }}" class="card-img-top embed-responsive-item">
            <div class="card-body">
                <h5 class="card-title">Camera</h5>
                <p class="card-text">Open the camera program</p>
            </div>
            <div class="card-footer">
                <a href="/power_supply" class="btn btn-primary">Open</a>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}